footer {
  background-color:  #202020;
  color: #ebebeb;
  margin-top: 3rem;
  padding: 1rem 0 1.5rem;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}
footer .button {
  all: unset !important;
}
.icon-wknd-logo-light{
  width: 128px;
  height: auto;
}
footer ul{
  list-style: none;
}
@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
  .footer ul:nth-child(4) {
    background: #fff;
    padding: 8px !important;
    margin-left: 8px !important;
  }
  .icon-wknd-logo-light{
    width: 128px;
    height: auto;
  }
  footer .button {
    all: unset !important;
}
.footer .default-content-wrapper {
  display: flex !important
;
  justify-content: space-between !important;
  align-items: center !important;
}


.footer div:first-child {
    padding: 0 !important;
}

footer ul {
  display: flex;
  gap: 18px;
  margin: 30px;
  list-style-type: none !important;
}


}
.footer p:first-child {
  flex-grow: 0.3 !important;
}

.footer ul:nth-child(2) {
  flex-grow: 1 !important;
}

footer li a, footer .footer-data a {
  color: #fff !important;
  text-decoration: underline !important;
}

footer .default-content-wrapper p {
  padding-top: 20px;
}

footer .default-content-wrapper a {
  color: white !important; 
  /* This will make all links inside .default-content-wrapper black */
  text-decoration: underline;
 
}

footer .default-content-wrapper a:hover {
  color: black !important; 
  /* This will make all links inside .default-content-wrapper black */
  text-decoration: underline;
 
}

@media (width < 900px) {
  
  .footer ul:nth-child(4) {
    display: flex;
    background-color: white;
    width: 40%;

    
  }

}